<div class="config-item">
    <h3 class="config-title">{{title}}</h3>
    <el-switch
        :value="value.{{targetFunctionName}}.{{name}}"
        @input="handleChangeValue('{{name}}', $event)"
        active-text="是"
    ></el-switch>
</div>