<div class="config-item">
    <h3 class="config-title">{{title}}</h3>
    <el-slider
        :value="value.{{targetFunctionName}}.{{name}}"
        @input="handleChangeValue('{{name}}', $event)"
        :min="{{ min }}"
        :max="{{ max }}"
        :step="1"
    ></el-slider>
</div>