body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relative {
    position: relative;
}

.pos-sticky {
    position: sticky;
    top: 0;
}

.hand {
    cursor: pointer;
}