body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    /* el-drawer will have black outline when focused, use this to eliminate */
    outline: none;
}

.flex-row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.pos-relative {
    position: relative;
}

.pos-sticky {
    position: sticky;
    top: 0;
}

.hand {
    cursor: pointer;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.color-normal {
    color: #606266;
}

.br-3 {
    border-radius: 3px;
}

.br-50p {
    border-radius: 50%;
}