body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    /* el-drawer will have black outline when focused, use this to eliminate */
    outline: none;
}

.flex-row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relative {
    position: relative;
}

.pos-sticky {
    position: sticky;
    top: 0;
}

.hand {
    cursor: pointer;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.color-normal {
    color: #606266;
}

.br-3 {
    border-radius: 3px;
}

.br-50p {
    border-radius: 50%;
}

.no-deco {
    text-decoration: none;
}


.el-drawer__body {
    overflow: auto;
    /* overflow-x: auto; */
}

.el-drawer__container ::-webkit-scrollbar{
    display: none;
}

.single-item {
    font-size: 12px;
    color: #606266;
    /* background: #eee; */
    padding: 8px 0;
    padding-left: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #EBEEF5;
    margin: 0;
}

.mb-16 {
    margin-bottom: 16px;
}

.title3 {
    font-size: 14px;
    color: #555555;
    /* color: white; */
    /* box-shadow: 0 0 10px 1px #00000022; */
    /* padding: 8px; */
    padding: 8px 0;
    /* border-radius: 3px; */
    /* background: #564884; */
    /* border-left: 3px solid #564884; */
    /* border-: 3px solid #564884; */
}

.mona-scroll {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(247, 247, 247);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: #d4d4d4;
    }
}

.mona-scroll-hidden {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}

//* {
//    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
//}
@media only screen and (max-width: 992px) {
    .el-message-box {
        width: 98%!important;
        max-width: 420px;
    }
}
