<div class="config-item">
    <h3 class="config-title">{{title}}</h3>
    <el-slider
        :value="value.{{weaponName}}.{{name}}"
        @input="handleChangeValue('{{name}}', $event)"
        :min="{{min}}"
        :max="{{max}}"
        :step="0.01"
        :show-input="true"
        :show-input-controls="false"
        input-size="mini"
    ></el-slider>
</div>