<template>
    <div class="config-root">
    {{#items}}
        {{{html}}}
    {{/items}}
    </div>
</template>

<script>
export const characterName = "{{characterName}}"
export default {
    name: "{{characterName}}.ccfg",
    props: ["value"],
    methods: {
        handleChangeValue(name, value) {
            let temp = Object.assign({}, this.value.{{characterName}})
            temp[name] = value
            this.$emit("input", {
                "{{characterName}}": temp
            })
        },
    },
    getDefaultConfig() {
        const defaultConfig = {
            "{{characterName}}": {
            {{#items}}
                {{name}}: {{default}},
            {{/items}}
            }
        }
        return defaultConfig
    }
}
</script>

<style lang="scss" scoped>
.config-root {
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(236, 245, 255);

    .config-title {
        font-size: 12px;
        color: #666666;
        margin: 0 0 12px 0;
    }

    .config-item {
        margin-bottom: 8px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
</style>