import { charactersData } from "@asset/characters";
import TargetFuncUtils from "../../../utils";

const skill = charactersData[""].skill;


function {{ name }}(attribute, { tArgs, cArgs, wArgs }) {
    return dps
}

export default {
    name: "{{ name }}",
    func: {{ name }},
    needConfig: false,
    needContext: false,
    version: 2
}