// badge to display
import badge from "@asset/badges/xyz.png";

export default {
    name: "{{ name }}",
    chs: "{{ name }}",
    description: [
        // add strings
    ],
    tags: [
        // add strings
    ],
    // common or character name
    "for": "",
    badge,
}